fastapi
uvicorn[standard]
python-multipart
sqlalchemy[asyncio]
asyncpg
aiogram
apscheduler
pydantic-settings
python-dotenv
python-json-logger
python-jose[cryptography]
bcrypt>=4.0
passlib[bcrypt]
alembic
psycopg2-binary
pytest
pytest-asyncio
httpx
aiosqlite

